.button-group {
    display: flex;
    align-items: center;
    justify-content: center;

    .button {
        margin: 0 10px;
        transition: 0.2s ease;

        &:hover,
        &_active {
            transform: translateY(-40px);
        }



        &_disable {
            opacity: 0.7;
            pointer-events: none;
            cursor: not-allowed;
        }

        &_active {
            opacity: 1;
        }

        img {
            box-shadow: 6px 7px 14px #074554;
        }
    }
}

.player-gropup {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.button {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    padding: 0;

    img {
        max-width: 100%;
        border-radius: 50%;
    }
}