.game-history {
    position: fixed;
    right: 0;
    bottom: 0;
    border: 5px solid #8D6A4C;
    width: 400px;
    background-color: #F6DBBE;
    font-size: 25px;
    height: 60vh;
    overflow: auto;
    &__table {
        width: 100%;
    }
    tbody {
        max-height: 50vh;
        overflow: auto;
    }
}